<%= erb :'_shared/header' %>

<h1>New Tag</h1>

<form action="/tags" method="post">
  <p>
  Enter Tag Name:
  </p>
  <p>
    <label>
      <input type="text" name="name">
    </label>
  </p>

  <input class="btn btn--action" type='submit' value="Submit">
</form>
<%= erb :'_shared/footer' %>
